@import url('https://fonts.cdnfonts.com/css/royal-acidbath');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');
@import url('https://fonts.cdnfonts.com/css/roboto-condensed');

/* Add vendor prefixes for Safari-specific properties */
/* You may need to add prefixes for specific properties based on your CSS usage */


/* main-layout */
  /* Styles for tablets */

/* Default styles for body */
html {
  scroll-behavior: smooth;
}

body {

  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--main-color);
  background-image: linear-gradient(rgb(14 28 58 / 87%), rgb(18 204 249));
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

}





/* == Buttons == */

.explore-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(109, 253, 109);
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  font-family: 'Royal Acidbath', sans-serif;
  -webkit-font-family: 'Royal Acidbath', 'Font Name 2', sans-serif; /* Safari */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for color changes */
  text-decoration: none;
  color: black;
}
.explore-btn a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  font-family: 'Royal Acidbath', sans-serif;
  -webkit-font-family: 'Royal Acidbath', 'Font Name 2', sans-serif; /* Safari */
  margin: 0;
}

.explore-btn:hover {
  background-color: #ff7f7f; /* Slightly lighter red when hovered */
  text-decoration: none;
  font-family: 'Royal Acidbath', sans-serif;
  color: inherit;

  -webkit-font-family: 'Royal Acidbath', 'Font Name 2', sans-serif; /* Safari */

  color: #eee; /* Slightly lighter font color when hovered */
}

.explore-btn:active {
  text-decoration: none;
  background-color: #cc0000; /* Darker red when clicked */
  color: #ddd; /* Darker font color when clicked */
}

/* Styles for loading overlay */
#loadingOverlay {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  -webkit-transform: translate(-50%, -50%); /* Center the overlay for Safari */
  -ms-transform: translate(-50%, -50%); /* Center the overlay for Internet Explorer */
  transform: translate(-50%, -50%); /* Center the overlay */
  max-width: 800px;
  width: 100%;
  height: 360px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  z-index: 1000; /* Ensure it appears above other content *//* Safari */
  -webkit-flex-direction: column;
  flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center; /* Safari */
  justify-content: center;
  -webkit-align-items: center; /* Safari */
  align-items: center;
  border-radius: 8px;

  /* Vendor prefixes for supported properties */
  -webkit-border-radius: 8px;
}

/* Media query for smartphones */
@media only screen and (max-width: 480px) {
  #loadingOverlay {
    max-width: 360px; /* Adjust max-width for smartphones */
    height: 250px; /* Adjust height for smartphones */
  }
}

/* Media query for tablets */
@media only screen and (max-width: 767px) {
  #loadingOverlay {
    max-width: 360px; /* Adjust max-width for tablets */
    height: 320px; /* Adjust height for tablets */
  }
}



/* Styles for loading spinner */
.loading-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Styles for loading message */
/* Default styles */
.loading-message {
  margin-top: 20px;
  color: black;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
}

/* Media query for smartphones */
@media only screen and (max-width: 480px) {
  .loading-message {
    margin-top: 15px;
    font-size: 18px;
  }
}

/* Media query for tablets */
@media only screen and (max-width: 767px) {
  .loading-message {
    margin-top: 15px;
    font-size: 20px;
  }
}

/* CSS animation for loading spinner */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* == Nav Bar == */


.nav-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background: white;
  width: 100vw;
  z-index: 1000;
  height: 90px;

}

.logo img {
  max-height: 80px;
  margin-left: 112px; /* Adjust the max height based on your logo size preference */
}

.nav-menu {
  list-style-type: none;
  display: flex;
  margin-right: 112px;
}

.nav-menu li {
  margin-right: 20px;
  margin-right: 20px;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 250;
  font-family: 'Oswald', sans-serif;

}

.nav-menu a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 250;
  padding: 8px; /* Increased padding for a larger clickable area */
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.nav-menu a:hover {
  text-decoration: none;
  background-color: #ff9900; /* Change to your preferred hover color */
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
}

.nav-toggle {
  display: none; /* Initially hidden on larger screens */
}

/* Media query for tablets */


/* Media query for smartphones */


/* === NAVBAR Responsiveness=== */

/* Style for toggle button */



/* == Fonts == */

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 1.7em; /* Adjusted font size */
  margin-bottom: 0.5em;
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-size: 1.5em; /* Adjusted font size */
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: 'Oswald', sans-serif;
}

p {
  margin-bottom: 1em;
  font-size: 1em; /* Adjust the value based on your preference */
  font-family: 'Proxima Nova Condensed', sans-serif;
  font-weight: 200;
}

a {
  margin-bottom: 1em;
  font-size: 1em;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 480px) {
  /* Show the toggle icon */
  .nav-toggle {
    display: block;
    cursor: pointer; /* Change cursor to pointer for better UX */
    padding: 10px; /* Add padding for better visibility */
    z-index: 1001; /* Ensure toggle is above the menu */
  }

  /* Flex layout between logo and toggle icon */
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img{
    max-height: 72px;
    margin-left: 12px; /* Adjust the max height based on your logo size preference */
  }


  /* Initially hide the nav menu */
  .nav-menu-container {
    display: none;
  }

  /* Adjust styles for the active menu */
  .nav-menu-container.active {
    display: block; /* Display the menu container when active */
    position: absolute; /* Position menu container */
    top: 90px; /* Adjust top position as needed */
    left: 0; /* Align menu container with left edge */
    width: 100%; /* Make menu container full width */
    background-color: #fff; /* Adjust background color as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
    z-index: 1000; /* Ensure menu is on top of other elements */
  }

  /* Style the menu items */
  .nav-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .nav-menu li {
    padding: 10px; /* Adjust padding as needed */
    border-bottom: 1px solid #eee; /* Add bottom border between items */
  }

  .nav-menu a {
    text-decoration: none;
    color: black; /* Adjust text color as needed */
    display: block;
    font-size: 16px; /* Adjust font size as needed */
    transition: background-color 0.3s ease; /* Add transition for smoother effect */
  }
  .nav-menu a:hover {
    text-decoration: none;
    background-color: #ff9900; /* Change to your preferred hover color */
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
  }
}

/* Media queries for tablets */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em; /* Adjusted font size for tablets */
  }

  h2 {
    font-size: 1.3em; /* Adjusted font size for tablets */
  }

  h3 {
    font-size: 1.1em; /* Adjusted font size for tablets */
  }

  p {
    font-size: 0.9em; /* Adjusted font size for tablets */
  }

  a {
    font-size: 0.9em; /* Adjusted font size for tablets */
  }
}

/* Media queries for smartphones */
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.4em; /* Adjusted font size for smartphones */
  }

  h2 {
    font-size: 1.2em; /* Adjusted font size for smartphones */
  }

  h3 {
    font-size: 1.1em; /* Adjusted font size for smartphones */
  }

  p {
    font-size: 1.em; /* Adjusted font size for smartphones */
  }

  a {
    font-size: 0.8em; /* Adjusted font size for smartphones */
  }
}

.google-translate-widget {
  position: absolute;
  left: 26%;
  top: 0%;

  width: 120px; /* Adjust width as needed */
  height: auto; /* Let the height adjust automatically based on content */
  font-size: 14px; /* Adjust font size as needed */
  z-index: 1100; /* Ensure the widget appears on top of the navigation bar */

  /* Add any other styles you want to customize the appearance */
}



/* == logo == */
.das-globe-logo{
  /* background: red; */
  width: 200px;
  border-radius: 40%;
  padding: 2%;
}


/* ===Banner/Header=== */

  .banner {
    max-width: 1200px;
    height: auto; /* Adjusted to auto for responsiveness */
    padding: 15% 0; /* Adjusted padding for responsiveness */
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    color: white;
    /* position: relative; */
  }


  @media only screen and (max-width: 480px) {
    .banner {
      background-image: linear-gradient(rgb(10 9 7 / 90%), rgb(249 179 18 / 81%)), url('../../images/banner_cover3.jpg');
    }
  }
  @media only screen and (max-width: 768px) {
    .banner {
      background-image: linear-gradient(rgb(10 9 7 / 90%), rgb(249 179 18 / 81%)), url('../../images/banner_cover3.jpg');
    }
  }



.home-banner-content {
  max-width: 800px;
  width: 100%;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction: column;
  -webkit-justify-content: center; /* Safari */
  justify-content: center;
  -webkit-align-items: start; /* Safari */
  align-items: start;
  color: white;
}

@media only screen and (max-width: 480px) {
  .home-banner-content {
    align-items: center;
    margin-top: 20%;
    max-width: 360px;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .home-banner-content {
    align-items: center;
    margin-top: 20%;
    max-width: 360px;
    width: 100%;
  }
}



.home-banner-logo{
  display: flex;
  flex-direction: column;
}


.dgt-img{
  width: 600px;
  padding-top: 12px;
  /* box-shadow: 0 10px 30px rgba(0,0,0,.1);    Light shadow */
}
@media only screen and (max-width: 768px) {
  .dgm-imt{
    max-width: 320px;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .dgm-imt{
    max-width: 320px;
    width: 100%;
  }
}



.home-banner-text{
  text-align: left;
}
@media only screen and (max-width: 768px) {
  .home-banner-text{
    max-width: 300px;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .home-banner-text{
    max-width: 300px;
    width: 100%;
  }
}


/* Your existing CSS for banner */


/* Media queries for tablets */


/* ==Main Container */

.main-container-home{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; /* Center the container horizontally */
  text-align: center;

}
@media only screen and (max-width: 480px) {

  .main-container-home{
    margin: 0px;
    width: 100%;
    /* Center the container horizontally */
    text-align: center;

  }
}

.one-by-two-section-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  border-top: 1px solid white;
  color: white;
}
.right-card{
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.left-card{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-top: 2%;


}
.card-img{
  max-width: 500px;
  border-radius: 12px;
}






.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  /* -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; */
  margin-top: 2%;
  padding-bottom: 2%;
}

@media only screen and (max-width: 768px) {
  .footer {

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media only screen and (max-width: 480px) {
  .footer {

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.social-media-icons{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.subscription-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .contact-info, .company-info, .subscription-info, form{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media only screen and (max-width: 480px) {
  .contact-info, .company-info, .subscription-info, form{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
